html, body {
   margin:0;
   padding:0;
   max-height:100%;
   max-width:100%;
   overflow-x: hidden; /* Prevent horizontal scrolling because dead fish is offscreen */
}

#header, #content, #footer {
	width: 100%;
}

#content {
	margin-bottom:0px;
}

.wrapper {
	width:56.25rem;
	margin: 0 auto;
	position:relative;
	min-height:100%;
}

/* Accessibility START */
.hidePlease {
	text-indent:-312.5rem;
	width:0.063rem;
	height:0.063rem;
}
/* Accessibility END */

/* Header START */
#header {
	height:6rem;
}

#header h1, #header ul {
    position: absolute;
    font-family:'Open Sans', sans-serif;
}

#header h1 {
	font-size:1.875rem;
	width:20%;
	line-height:1.0;
	font-weight:700;
	color:#80C3C0;
	margin-top:1.25rem;
}

#header ul {
	position:absolute;
	width:80%;
    top: 1.938rem; 
    right:-3.75rem; /* Helps align nav to wrapper */
    font-weight: 300;
    list-style: none;
    margin: 0;
    font-size:0.875rem; 
    vertical-align:middle;
}

#header ul li {
    display: inline-block;
    margin-left: 1.875rem;  /* Spacing b/w nav items */
    text-align:center;
}

#header ul li a {
    display: block;
    width: 100%;
    height: 100%; 
    text-decoration: none;
    border-radius: 0.625rem;
    color:#183B5C; 
}

#header ul li a:hover, #header ul li.current a {
    color:#80C3C0;
   	text-decoration:underline;
}

#header ul li#special {
	position: relative;
	top: -0.625rem;
}

#header ul li#special a {
	background-color:#80C3C0;
	color:#ffffff;
	padding: 0.563rem 0.438rem; 
	top:0.625rem;
	vertical-align:middle;
}

#header ul li#special a:hover {
	background-color:white;
	border:0.125rem solid #80C3C0;
	color:#80C3C0;
	text-decoration:none;
}
/* Header END */

/*Content links START */
#content a { 
    color: #8EBFE7;
    text-decoration: none;
    font-weight: 700;
}

#introImpacts a:hover {
    text-decoration: underline;
}

#content a.slideNav {
	color:white;
}
/* Content links END */

/* Introduction START */
#introImpacts {
	height:auto;
	position:relative;
}

#introImpacts .wrapper {
	margin:0 auto;
}

#introImpacts h2 {
	color:white;
	font-size:4.063rem;
	font-family:'Open Sans',sans-serif;
	width:70%;
	line-height:1.0;
	font-weight:700;
	position:absolute;
	top:5rem;
}

#introImpacts h2 span {
	font-style:italic;
}

 #introImpacts .subheading p {
	color:white;
	font-family: 'Gentium Basic', serif;
	line-height:1.2;
	font-weight:300;
	font-size:2.375rem;
	margin-top:0;
	margin-bottom:0;
	margin-left:0;
	width:90%;
	position:absolute;
	top:14rem;
}

#introImpactsImage {
	background-image: url('../images/DeadReefGrayscale-01.png');
}
/* Introduction END */

/* Dead Fish START */
.iconthingSkel {
	width:60%;
	height:auto;
	top:3.125rem;
	position:relative;
	left:56.25rem;
}

.iconthing2Skel {
	width:40%;
	height:auto;
	top:15.625rem;
	position:relative;
	left:25rem;
}

.iconthing3Skel {
	width:50%;
	height:auto;
	top:0px;
	position:relative;
	left:-53.125rem;
}
/* Dead Fish END */

/* Wrapper2 START */
.wrapper2 {
	position:absolute;
	width:79%;
	height:100%;
	right:0;
}
/* Wrapper2 END*/

/* Sidebar START */
.wrapper3 {
	position:absolute;
	width:25%;
	height:100rem;
	left:0;
}

#sidebar {
	width:70%;
	margin-top:5rem;
	margin-right:1.563rem;
	font-weight:300;
	border-width:0.063rem;
	border-style:solid;
	border-color:#183B5C;
	z-index: 999;
}

#sidebar h2 {
	margin-left:1.25rem;
	padding-top:0.938rem;
	font-family:'Open sans',sans-serif;
	color:#183B5C; 
	font-weight:700;
	font-size:1.25rem;
}

#sidebar ul {
	list-style-type:none;
	padding-left:0;
	margin-left:1.25rem;
	font-family:'Open sans',sans-serif;
	font-size:1.063rem;
	font-weight:300;
}

#sidebar ul li {
	margin-bottom:0.938rem;
}

#sidebar ul li a {
	font-weight:300;
	color:#183B5C; 
}

#sidebar ul li a:hover {
	color:#8EBFE7; 
}
/* Sidebar END */

/* Section description p START */
p.sectionDescription {
	font-family:'Gentium Basic', serif;
	font-size:1.25rem;
	color:#183B5C;
}
/* Section description p END */

/* Impact-types START */
#impact-types h2 {
	font-family:'Open sans', sans-serif;
	font-weight:700;
	color:#183B5C;
	font-size:2.75rem;
}

#impact-types {
	margin-top:5rem;
	margin-bottom:5rem;
	height:95rem;
}

.impact-type {
	height:25rem;
	margin-bottom:8rem;
}

.impact-type-img {
	border-radius:0.625rem;
	width:100%;
	height:auto;
	padding:0 0;
	object-fit: cover;
}

.uk-inline-clip {
	height:25rem;
	border-radius:0.625rem;
}

.uk-overlay-primary {
	border-radius: 0.625rem;
}

.impact-type h3 {
	font-family:'Open sans', sans-serif;
	font-weight:700;
	color:#183B5C;
	font-size:2rem;
}

p.impact-type-description {
	font-family:'Gentium Basic',serif;
	font-weight:300;
	color:#183B5C;
	font-size:1.5rem;
}
/* Impact-types END */

/* GetInvolved START */
#getInvolvedBanner {
	height:31.25rem;
	background-color:red;
	background-image:url('../images/BlueTangBanner.jpeg');
	background-position: center;
 	background-repeat: no-repeat; 
  	background-size: cover;
  	position:relative;
}

#getInvolvedBanner #getInvolvedBannerDesc {
	position:absolute;
	top:9.375rem;	
}

#getInvolvedBannerDesc h2 {
	font-family:'Open sans', sans-serif;
	color:white;
	font-weight:800;
	font-size:2.75rem;
	line-height:1.1;
	text-shadow:0.063rem 0.063rem 0.625rem 0.625rem #ededed;
}

#getInvolvedBannerDesc p {
	color:white;
	font-family:'Gentium Basic', serif;
	font-size:1.75rem;
	margin-top:-0.625rem;
	line-height:1.2;
	text-shadow:0.063rem 0.063rem 0.625rem 0.625rem #ededed;
}

#getInvolvedBannerDesc a {
	display:block;
	border:0.063rem solid white;
	border-radius:0.313rem;
	width:32%;
	text-align:center;
	color:white;
	font-size:1.25rem;
}

#getInvolvedBannerDesc a:hover {
	background-color:white;
	color:#183B5C;
}
/* GetInvolved END */

/* References START */
#references .wrapper  {
	border-top:0.063rem solid #ededed;
	padding:3rem 0;
}

#references h2 {
	font-family:'open sans',sans-serif;
	font-weight:700;
	font-size:1.5rem;
	color:#183B5C;
}

#references .wrapper ol {
	padding: 1.25rem;
	margin-top:0;
}

#references .wrapper ol li {
	padding: 0.313rem;
	margin-left: 2.188rem;
}

#references ul li a.uk-accordion-title {
	color:#183B5C;
	font-weight:300;
}

#references a.ref {
	font-weight:300;
	color:#fc8e5e;
}

#references a.ref:hover {
	text-decoration:underline;
}

#references p {
	font-size:.9rem;
	margin-bottom:0;
}
/* References END */

/* Footer START */
#footer {
	position:absolute;
	margin-top:0;
	text-align:center;
	height:6.25rem;
	font-family:'Open Sans', sans-serif;
	font-style:normal;
	font-weight:300;
	font-size:0.875rem;
	color:white;
	background-color: #80C3C0;
}

#footer p {
	position:absolute;
	top:1.875rem;
	width:56.25rem;
	margin:auto;
}
/* Footer END */
